Thumbs.db
.DS_Store

poco/lib
poco/Foundation/.dep
poco/Net/.dep
poco/JSON/.dep
poco/Util/.dep
poco/XML/.dep
poco/Foundation/obj
poco/Net/obj
poco/JSON/obj
poco/Util/obj
poco/XML/obj

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata
proj.ios_mac/CocosWithPoco.xcodeproj/xcuserdata

poco/Foundation/obj
